.nav__content li a {
  font-size: 18px;
}

#signup {
  border-radius: 15px !important;
  padding: 0px 10px 0px 10px;
}

#signup a {
  color: white !important;
}

@media only screen and (max-width: 767px) {
  #signup {
    border-radius: 0px !important;
    text-align: center;
    margin: 5px;
  }

  .nav__content li a {
    text-align: center;
  }

  #login {
    background-image: linear-gradient(#fbab7e, #f7ce68);
    text-align: center !important;
    margin: 5px;
  }
  #login a {
    color: white;
  }
}
