.blog__item {
  border: 3px solid #fafafa;
  border-radius: 15px;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1);
}

.blog__thumbnail img {
  border-radius: 15px;
}

.blog__content button {
  border-radius: 15px;
  border: transparent;
  padding: 8px 15px;
}

@media only screen and (max-width: 767px) {
  .blog__thumbnail {
    text-align: center;
  }
  .blog__content {
    text-align: center;
  }
}

.blog__readmore {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 3px;
}

.blog__readmore:hover {
  text-decoration: underline;
  color: white;
}
